--
-- PostgreSQL database dump
--

\restrict ZkHb4tcvsHgx1QCTVc9LmetmctB436Yhhb8qGeHWzf7sZCZagOKBqnNyEZKeZaC

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approved_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.approved_document_tbl (
    approved_doc_id integer NOT NULL,
    document_id integer NOT NULL,
    user_id integer NOT NULL,
    department character varying(100),
    admin character varying(150),
    status character varying(20) DEFAULT 'not_forwarded'::character varying,
    CONSTRAINT approved_document_tbl_status_check CHECK (((status)::text = ANY ((ARRAY['forwarded'::character varying, 'not_forwarded'::character varying])::text[])))
);


--
-- Name: approved_document_tbl_approved_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.approved_document_tbl_approved_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: approved_document_tbl_approved_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.approved_document_tbl_approved_doc_id_seq OWNED BY public.approved_document_tbl.approved_doc_id;


--
-- Name: department_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.department_tbl (
    department_id integer NOT NULL,
    department character varying(100) NOT NULL
);


--
-- Name: department_tbl_department_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.department_tbl_department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: department_tbl_department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.department_tbl_department_id_seq OWNED BY public.department_tbl.department_id;


--
-- Name: division_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.division_tbl (
    division_id integer NOT NULL,
    division character varying(100) NOT NULL,
    department_id integer NOT NULL
);


--
-- Name: division_tbl_division_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.division_tbl_division_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: division_tbl_division_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.division_tbl_division_id_seq OWNED BY public.division_tbl.division_id;


--
-- Name: receive_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.receive_document_tbl (
    receive_doc_id integer NOT NULL,
    release_doc_id integer NOT NULL,
    status character varying(20) NOT NULL,
    CONSTRAINT receive_document_tbl_status_check CHECK (((status)::text = ANY ((ARRAY['approved'::character varying, 'not_approved'::character varying])::text[])))
);


--
-- Name: receive_document_tbl_receive_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.receive_document_tbl_receive_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: receive_document_tbl_receive_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.receive_document_tbl_receive_doc_id_seq OWNED BY public.receive_document_tbl.receive_doc_id;


--
-- Name: record_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.record_document_tbl (
    record_doc_id integer NOT NULL,
    approved_doc_id integer NOT NULL,
    status character varying(20) NOT NULL,
    respond_doc_id integer,
    CONSTRAINT record_document_tbl_status_check CHECK (((status)::text = ANY ((ARRAY['recorded'::character varying, 'not_recorded'::character varying])::text[])))
);


--
-- Name: record_document_tbl_record_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.record_document_tbl_record_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: record_document_tbl_record_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.record_document_tbl_record_doc_id_seq OWNED BY public.record_document_tbl.record_doc_id;


--
-- Name: release_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.release_document_tbl (
    release_doc_id integer NOT NULL,
    record_doc_id integer NOT NULL,
    status character varying(20) NOT NULL,
    department character varying(100) NOT NULL,
    CONSTRAINT release_document_tbl_status_check CHECK (((status)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying])::text[])))
);


--
-- Name: release_document_tbl_release_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.release_document_tbl_release_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: release_document_tbl_release_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.release_document_tbl_release_doc_id_seq OWNED BY public.release_document_tbl.release_doc_id;


--
-- Name: respond_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.respond_document_tbl (
    respond_doc_id integer NOT NULL,
    receive_doc_id integer NOT NULL,
    user_id integer NOT NULL,
    status character varying(20) NOT NULL,
    comment text,
    department character varying(100),
    CONSTRAINT respond_document_tbl_status_check CHECK (((status)::text = ANY ((ARRAY['actioned'::character varying, 'not_actioned'::character varying])::text[])))
);


--
-- Name: respond_document_tbl_respond_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.respond_document_tbl_respond_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: respond_document_tbl_respond_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.respond_document_tbl_respond_doc_id_seq OWNED BY public.respond_document_tbl.respond_doc_id;


--
-- Name: revision_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.revision_document_tbl (
    revision_doc_id integer NOT NULL,
    document_id integer NOT NULL,
    user_id integer NOT NULL,
    comment text,
    admin character varying(150)
);


--
-- Name: revision_document_tbl_revision_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.revision_document_tbl_revision_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: revision_document_tbl_revision_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.revision_document_tbl_revision_doc_id_seq OWNED BY public.revision_document_tbl.revision_doc_id;


--
-- Name: sender_document_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sender_document_tbl (
    document_id integer NOT NULL,
    type character varying(50),
    user_id integer NOT NULL,
    status character varying(50),
    priority character varying(20),
    document bytea
);


--
-- Name: sender_document_tbl_document_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sender_document_tbl_document_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sender_document_tbl_document_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sender_document_tbl_document_id_seq OWNED BY public.sender_document_tbl.document_id;


--
-- Name: user_tbl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_tbl (
    user_id integer NOT NULL,
    id_number character varying(50),
    full_name character varying(150) NOT NULL,
    gender character varying(10),
    email character varying(150),
    department_id integer,
    division_id integer,
    user_role character varying(50) NOT NULL,
    user_name character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    status character varying(10) DEFAULT 'active'::character varying,
    pre_assigned_role character varying(50),
    CONSTRAINT user_tbl_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


--
-- Name: user_tbl_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_tbl_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_tbl_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_tbl_user_id_seq OWNED BY public.user_tbl.user_id;


--
-- Name: approved_document_tbl approved_doc_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.approved_document_tbl ALTER COLUMN approved_doc_id SET DEFAULT nextval('public.approved_document_tbl_approved_doc_id_seq'::regclass);


--
-- Name: department_tbl department_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department_tbl ALTER COLUMN department_id SET DEFAULT nextval('public.department_tbl_department_id_seq'::regclass);


--
-- Name: division_tbl division_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.division_tbl ALTER COLUMN division_id SET DEFAULT nextval('public.division_tbl_division_id_seq'::regclass);


--
-- Name: receive_document_tbl receive_doc_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receive_document_tbl ALTER COLUMN receive_doc_id SET DEFAULT nextval('public.receive_document_tbl_receive_doc_id_seq'::regclass);


--
-- Name: record_document_tbl record_doc_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.record_document_tbl ALTER COLUMN record_doc_id SET DEFAULT nextval('public.record_document_tbl_record_doc_id_seq'::regclass);


--
-- Name: release_document_tbl release_doc_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.release_document_tbl ALTER COLUMN release_doc_id SET DEFAULT nextval('public.release_document_tbl_release_doc_id_seq'::regclass);


--
-- Name: respond_document_tbl respond_doc_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respond_document_tbl ALTER COLUMN respond_doc_id SET DEFAULT nextval('public.respond_document_tbl_respond_doc_id_seq'::regclass);


--
-- Name: revision_document_tbl revision_doc_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.revision_document_tbl ALTER COLUMN revision_doc_id SET DEFAULT nextval('public.revision_document_tbl_revision_doc_id_seq'::regclass);


--
-- Name: sender_document_tbl document_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sender_document_tbl ALTER COLUMN document_id SET DEFAULT nextval('public.sender_document_tbl_document_id_seq'::regclass);


--
-- Name: user_tbl user_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl ALTER COLUMN user_id SET DEFAULT nextval('public.user_tbl_user_id_seq'::regclass);


--
-- Data for Name: approved_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.approved_document_tbl (approved_doc_id, document_id, user_id, department, admin, status) FROM stdin;
\.


--
-- Data for Name: department_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.department_tbl (department_id, department) FROM stdin;
1	Administration
12	OFFICE OR THE CITY ADMINISTRATOR
13	CITY MAYOR'S OFFICE
\.


--
-- Data for Name: division_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.division_tbl (division_id, division, department_id) FROM stdin;
1	System Management	1
14	Information Technology Service Division	12
15	City Mayor's Office-Administrative Division	13
\.


--
-- Data for Name: receive_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.receive_document_tbl (receive_doc_id, release_doc_id, status) FROM stdin;
\.


--
-- Data for Name: record_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.record_document_tbl (record_doc_id, approved_doc_id, status, respond_doc_id) FROM stdin;
\.


--
-- Data for Name: release_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.release_document_tbl (release_doc_id, record_doc_id, status, department) FROM stdin;
\.


--
-- Data for Name: respond_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.respond_document_tbl (respond_doc_id, receive_doc_id, user_id, status, comment, department) FROM stdin;
\.


--
-- Data for Name: revision_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.revision_document_tbl (revision_doc_id, document_id, user_id, comment, admin) FROM stdin;
\.


--
-- Data for Name: sender_document_tbl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sender_document_tbl (document_id, type, user_id, status, priority, document) FROM stdin;
\.


--
-- Data for Name: user_tbl; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: approved_document_tbl_approved_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.approved_document_tbl_approved_doc_id_seq', 1, false);


--
-- Name: department_tbl_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.department_tbl_department_id_seq', 13, true);


--
-- Name: division_tbl_division_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.division_tbl_division_id_seq', 15, true);


--
-- Name: receive_document_tbl_receive_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.receive_document_tbl_receive_doc_id_seq', 1, false);


--
-- Name: record_document_tbl_record_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.record_document_tbl_record_doc_id_seq', 1, false);


--
-- Name: release_document_tbl_release_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.release_document_tbl_release_doc_id_seq', 1, false);


--
-- Name: respond_document_tbl_respond_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.respond_document_tbl_respond_doc_id_seq', 1, false);


--
-- Name: revision_document_tbl_revision_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.revision_document_tbl_revision_doc_id_seq', 1, false);


--
-- Name: sender_document_tbl_document_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sender_document_tbl_document_id_seq', 1, false);


--
-- Name: user_tbl_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_tbl_user_id_seq', 10, true);


--
-- Name: approved_document_tbl approved_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.approved_document_tbl
    ADD CONSTRAINT approved_document_tbl_pkey PRIMARY KEY (approved_doc_id);


--
-- Name: department_tbl department_tbl_department_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department_tbl
    ADD CONSTRAINT department_tbl_department_key UNIQUE (department);


--
-- Name: department_tbl department_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department_tbl
    ADD CONSTRAINT department_tbl_pkey PRIMARY KEY (department_id);


--
-- Name: division_tbl division_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.division_tbl
    ADD CONSTRAINT division_tbl_pkey PRIMARY KEY (division_id);


--
-- Name: receive_document_tbl receive_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receive_document_tbl
    ADD CONSTRAINT receive_document_tbl_pkey PRIMARY KEY (receive_doc_id);


--
-- Name: record_document_tbl record_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.record_document_tbl
    ADD CONSTRAINT record_document_tbl_pkey PRIMARY KEY (record_doc_id);


--
-- Name: release_document_tbl release_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.release_document_tbl
    ADD CONSTRAINT release_document_tbl_pkey PRIMARY KEY (release_doc_id);


--
-- Name: respond_document_tbl respond_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respond_document_tbl
    ADD CONSTRAINT respond_document_tbl_pkey PRIMARY KEY (respond_doc_id);


--
-- Name: revision_document_tbl revision_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.revision_document_tbl
    ADD CONSTRAINT revision_document_tbl_pkey PRIMARY KEY (revision_doc_id);


--
-- Name: sender_document_tbl sender_document_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sender_document_tbl
    ADD CONSTRAINT sender_document_tbl_pkey PRIMARY KEY (document_id);


--
-- Name: user_tbl user_tbl_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl
    ADD CONSTRAINT user_tbl_email_key UNIQUE (email);


--
-- Name: user_tbl user_tbl_id_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl
    ADD CONSTRAINT user_tbl_id_number_key UNIQUE (id_number);


--
-- Name: user_tbl user_tbl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl
    ADD CONSTRAINT user_tbl_pkey PRIMARY KEY (user_id);


--
-- Name: user_tbl user_tbl_user_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl
    ADD CONSTRAINT user_tbl_user_name_key UNIQUE (user_name);


--
-- Name: approved_document_tbl fk_approved_document; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.approved_document_tbl
    ADD CONSTRAINT fk_approved_document FOREIGN KEY (document_id) REFERENCES public.sender_document_tbl(document_id) ON DELETE CASCADE;


--
-- Name: approved_document_tbl fk_approved_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.approved_document_tbl
    ADD CONSTRAINT fk_approved_user FOREIGN KEY (user_id) REFERENCES public.user_tbl(user_id);


--
-- Name: division_tbl fk_division_department; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.division_tbl
    ADD CONSTRAINT fk_division_department FOREIGN KEY (department_id) REFERENCES public.department_tbl(department_id) ON DELETE CASCADE;


--
-- Name: receive_document_tbl fk_receive_release; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receive_document_tbl
    ADD CONSTRAINT fk_receive_release FOREIGN KEY (release_doc_id) REFERENCES public.release_document_tbl(release_doc_id) ON DELETE CASCADE;


--
-- Name: record_document_tbl fk_record_approved; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.record_document_tbl
    ADD CONSTRAINT fk_record_approved FOREIGN KEY (approved_doc_id) REFERENCES public.approved_document_tbl(approved_doc_id) ON DELETE CASCADE;


--
-- Name: release_document_tbl fk_release_record; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.release_document_tbl
    ADD CONSTRAINT fk_release_record FOREIGN KEY (record_doc_id) REFERENCES public.record_document_tbl(record_doc_id) ON DELETE CASCADE;


--
-- Name: respond_document_tbl fk_respond_receive; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respond_document_tbl
    ADD CONSTRAINT fk_respond_receive FOREIGN KEY (receive_doc_id) REFERENCES public.receive_document_tbl(receive_doc_id) ON DELETE CASCADE;


--
-- Name: respond_document_tbl fk_respond_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respond_document_tbl
    ADD CONSTRAINT fk_respond_user FOREIGN KEY (user_id) REFERENCES public.user_tbl(user_id) ON DELETE CASCADE;


--
-- Name: revision_document_tbl fk_revision_document; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.revision_document_tbl
    ADD CONSTRAINT fk_revision_document FOREIGN KEY (document_id) REFERENCES public.sender_document_tbl(document_id) ON DELETE CASCADE;


--
-- Name: revision_document_tbl fk_revision_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.revision_document_tbl
    ADD CONSTRAINT fk_revision_user FOREIGN KEY (user_id) REFERENCES public.user_tbl(user_id);


--
-- Name: sender_document_tbl fk_sender_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sender_document_tbl
    ADD CONSTRAINT fk_sender_user FOREIGN KEY (user_id) REFERENCES public.user_tbl(user_id) ON DELETE CASCADE;


--
-- Name: user_tbl fk_user_department; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl
    ADD CONSTRAINT fk_user_department FOREIGN KEY (department_id) REFERENCES public.department_tbl(department_id);


--
-- Name: user_tbl fk_user_division; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tbl
    ADD CONSTRAINT fk_user_division FOREIGN KEY (division_id) REFERENCES public.division_tbl(division_id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZkHb4tcvsHgx1QCTVc9LmetmctB436Yhhb8qGeHWzf7sZCZagOKBqnNyEZKeZaC

